{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}
    {{ form_errors(registrationForm) }}
    <div data-bs-theme="dark-oled" class="container w-50 p-3 text-white">
        {{ form_start(registrationForm) }}
            <h1 class="h3 my-5 text-center fw-bold">Créer un compte</h1>
            <div class="form-floating my-3">
                {{ form_widget(registrationForm.username) }}
                {{ form_label(registrationForm.username) }}
            </div>
            <div class="form-floating my-3">
                {{ form_widget(registrationForm.email) }}
                {{ form_label(registrationForm.email) }}
            </div>
            <div class="form-floating my-3">
                {{ form_widget(registrationForm.plainPassword) }}
                {{ form_label(registrationForm.plainPassword) }}
                <div class="text-danger">
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
            </div>
            <div class="d-grid gap-2 mx-auto my-4">
                {% for error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}
                <button class="btn btn-light text-black fw-bold my-2" type="submit">Valider</button>
                <p class="text-center text-white">Vous avez déjà un compte ?
                    <a class="text-decoration-none" href="{{ path('app_login') }}">Connectez-vous.</a>
                </p>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}