{% block stylesheets %}
{% endblock %}


{{ form_start(form) }}

<div class="form-floating my-3">
    {{ form_widget(form.content,) }}
    {{ form_label(form.content, "Quoi de neuf ?!",) }}

</div>

<div class="m-5">
<button class="btn btn-secondary text-white p-2 border rounded">{{ button_label|default('Poster') }}</button>
</div>


{{ form_end(form) }}


