{% extends 'base.html.twig' %}

{% block title %}Twitter > X
{% endblock %}


{% block javascripts %}
	<script src="{{ asset('js/like.js') }}" defer></script>
{% endblock %}

{% block body %}

	<main class="w-50  mx-auto">

		<section class="border border-1 border-secondary text-center p-5">
			<a class="text-decoration-none text-white" href="{{path('app_tweets_index')}}">
				<h2>Twitter > X</h2>
			</a>
		</section>

		<section class="border border-1 border-secondary text-center p-2">
			<a class="text-decoration-none text-white" href="{{ path('app_tweet_new') }}">Poster un Tweet</a>
		</section>

		<section>
			{% if allTweets is empty %}
				<div class="border border-1 border-secondary text-center">
					<p>Aucun Tweet pour le moment ! N'hésites pas à en faire un !
					</p>
				</div>
			{% else %}
				

		{% for allTweet in allTweets %}
			<div class="border border-1 border-secondary p-2 mb-2">
				{% if allTweet.isRetweet() %}
					{# IsRetweet=true #}
					<p>
						{{ allTweet.user.username }}
						a retweeté le
						{{ allTweet.createdAt|date('d/m/Y H:i:s') }}
					</p>
					{% if allTweet.content %}
						<p>{{ allTweet.content }}</p>
					{% endif %}
					<a href="{{ path('app_tweet_retweet', { id: allTweet.tweet.id }) }}" class="btn btn-secondary">
						Retweeter
					</a>

					<div class="border border-1 border-secondary p-2">
						<p>
							<strong>{{ allTweet.tweet.user.username }}</strong>
							-
							{{ allTweet.tweet.createdAt|date('d/m/Y H:i:s') }}
						</p>
						<p>{{ allTweet.tweet.content }}</p>
					</div>

				{% else %}
					{# isretweet = false #}
					<p>
						<strong>{{ allTweet.user.username }}</strong>
						-
						{{ allTweet.createdAt|date('d/m/Y H:i:s') }}
					</p>
					<p>{{ allTweet.content }}</p>
					<a href="{{ path('app_tweet_retweet', { id: allTweet.id }) }}" class="btn btn-secondary">
						Retweeter
					</a>
				{% endif %}
			</div>
		{% endfor %}
	{% endif %}
</section></main>{% endblock %}
