{% extends 'base.html.twig' %}

{% block title %}Twitter > X
{% endblock %}

{% block body %}

	<main class="w-50  mx-auto">

		<section class="border border-1 border-secondary text-center p-5">
			<a class="text-decoration-none text-white" href="{{path('app_tweets_index')}}">
				<h2>Twitter > X</h2>
			</a>
		</section>

		<section class="border border-1 border-secondary text-center p-2">
			<a class="text-decoration-none text-white" href="{{ path('app_tweet_new') }}">Poster un Tweet</a>
		</section>

		<section>
			{% if allTweets is empty %}
				<div class="border border-1 border-secondary text-center">
					<p>Aucun Tweet pour le moment ! N'hésites pas à en faire un !
					</p>
				</div>
			{% else %}

			

			{% for item in allTweets %}
                {% if item.tweet is not defined %}
                    {# Affichage d'un tweet normal #}
                    <div class="border border-1 border-secondary p-2 mb-2">
                        <p>
                            <strong>{{ item.user.username }}</strong> - 
                            {{ item.createdAt|date('d/m/Y H:i:s') }}
                        </p>
                        <p>{{ item.content }}</p>
                        <a href="{{ path('app_tweet_retweet', { id: item.id }) }}" class="btn btn-secondary">
                            Retweeter
                        </a>
                    </div>
                {% else %}
                    {# Affichage d'un retweet (sans re-afficher le tweet original) #}
                    <div class="border border-1 border-secondary p-2 mb-2">
                        <p>
                            {{ item.user.username }} a retweeté le {{ item.createdAt|date('d/m/Y H:i:s') }}
                        </p>
                        {% if item.content %}
                            <p>{{ item.content }}</p> 
							<a href="{{ path('app_tweet_retweet', { id: item.id }) }}" class="btn btn-secondary">
                            Retweeter
                        </a>
                        {% endif %}
                        <div class="border border-1 border-secondary p-2">
                            <p>
                                <strong>{{ item.tweet.user.username }}</strong> - 
                                {{ item.tweet.createdAt|date('d/m/Y H:i:s') }}
                            </p>
                            <p>{{ item.tweet.content }}</p>
                            
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </section>





				{# {% for allTweet in allTweets %} #}

					{# {% for tweet in tweets %}
						<div class="border border-1 border-secondary p-2">
							<span>
								{{ tweet.user.username }}
								-
								{{ tweet.createdAt ? tweet.createdAt|date('d/m/Y H:i:s') : '' }}
							</span>
							<p class="p-2 text-break">{{ tweet.content }}</p>
							<a href="{{ path('app_tweet_retweet', { id: tweet.id }) }}" class="btn btn-secondary">
								Retweeter
							</a>
						</div>
					{% endfor %}

					{% for retweet in retweets %}
						<div class="border border-1 border-secondary p-2">
							<p>
								{{retweet.user.username}}
								le
								{{ retweet.createdAt | date('d/m/Y H:i:s') }}
							</p>
							{% if retweet.content %}
								<p>{{retweet.content}}</p>
							{% endif %}

							<div>
								<p>{{retweet.tweet.user.username}}
									-
									{{retweet.tweet.createdAt|date('d/m/Y H:i:s') }}</p>
								<p>{{retweet.tweet.content}}</p>
							</div>
						</div>
					{% endfor %} #}

				{# {% endfor %} #}
			{# {% endif %} #}

		{# </section> #}
	</main>
{% endblock %}