{% extends 'base.html.twig' %}

{% block title %}Twitter > X{% endblock %}


{% block javascripts %}
	<script src="{{ asset('js/like.js') }}" defer></script>
{% endblock %}


{% block body %}

	<main class="w-50  mx-auto">

		<section class="border border-1 border-secondary text-center p-5">
			<a class="text-decoration-none text-white" href="{{path('app_tweets_index')}}">
				<h2>Twitter > X</h2>
			</a>
		</section>

		<section class="border border-1 border-secondary text-center p-2">
			<a class="text-decoration-none text-white" href="{{ path('app_tweet_new') }}">Poster un Tweet</a>
		</section>

		<section>
			{% if tweets is empty %}
				<div class="border border-1 border-secondary text-center">
					<p>Aucun Tweet pour le moment ! N'hésites pas à en faire un !
					</p>
				</div>
			{% else %}
				{% for tweet in tweets %}
					<div class="border border-1 border-secondary p-2 d-flex flex-column">
						<span>
							{{ tweet.user.username }} - {{ tweet.createdAt ? tweet.createdAt|date('d/m/Y H:i:s') : '' }}								
							{# {{ tweet.updateAt ? tweet.updateAt|date('d/m/Y H:i:s') : '' }} #}
						</span>
						<p class="p-2 mt-3 mb-1 text-break">{{ tweet.content }}</p>
						<div class="align-self-end d-flex">
							<div>
								<a href="{{ path('app_tweet_retweet', { id: tweet.id }) }}" class="btn btn-outline-secondary fw-bold rt-btn bouton mx-2"><i class="fa-solid fa-arrows-rotate"></i></a>
							</div>
							<button class="btn btn-outline-danger fw-bold like-btn bouton" id="like-button-{{ tweet.id }}" data-tweet-id="{{ tweet.id }}">
								<div class="like-div-{{ tweet.id }}">	
									<span id="likes-count-{{ tweet.id }}">{{ tweet.likes | length }}</span>
									{% if app.user and tweet.likes|filter(like => like.user.id == app.user.id)|length > 0 %}
										<i class="like-img-{{ tweet.id }} fas fa-heart"></i>
									{% else %}
										<i class="like-img-{{ tweet.id }} far fa-heart"></i>
									{% endif %}
								</div>
							</button>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</section>
	</main>
	
{% endblock %}