{% extends 'base.html.twig' %}

{% block title %}Twitter > X{% endblock %}


{% block javascripts %}
	<script src="{{ asset('js/like.js') }}" defer></script>
{% endblock %}


{% block body %}

	<main class="w-50  mx-auto">

		<section class="border border-1 border-secondary text-center p-5">

			<a class="text-decoration-none text-white" href="{{path('app_tweets_index')}}">
				<h2>Twitter > X</h2>
			</a>

		</section>

		<section class="border border-1 border-secondary text-center p-2">
			<a class="text-decoration-none text-white" href="{{ path('app_tweet_new') }}">Poster un Tweet</a>
		</section>

		<section>
			{% if tweets is empty %}
				<div class="border border-1 border-secondary text-center">
					<span>Aucun Tweet pour le moment ! N'hésites pas à en faire un !
					</span>
				</div>
			{% else %}
				{% for tweet in tweets %}
					<div class="border border-1 border-secondary p-2">
						<span>
							{{ tweet.user.username }}
							-
							{{ tweet.createdAt ? tweet.createdAt|date('d/m/Y H:i:s') : '' }}
													
							{# {{ tweet.updateAt ? tweet.updateAt|date('d/m/Y H:i:s') : '' }} #}
						</span>
						<p class="p-2 text-break">{{ tweet.content }}</p>
						<div>
							<button class="btn btn-outline-danger fw-bold my-2 like-btn" id="like-button-{{ tweet.id }}" data-tweet-id="{{ tweet.id }}">
								<span id="likes-count-{{ tweet.id }}">{{ tweet.likes | length }}</span>
								{% if app.user and tweet.likes|filter(like => like.user.id == app.user.id)|length > 0 %}
									<i class="like-img-{{ tweet.id }} fas fa-heart"></i>
								{% else %}
									<i class="like-img-{{ tweet.id }} far fa-heart"></i>
								{% endif %}
								<span class="like-{{tweet.id}}">
									{% if app.user and tweet.likes|filter(like => like.user.id == app.user.id)|length > 0 %}
										Dislike
									{% else %}
										Like
									{% endif %}
								</span>
							</button>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</section>
	</main>
	
{% endblock %}