{% extends 'base.html.twig' %}

{% block title %}Retweeter
{% endblock %}

{% block body %}
<main class="w-75 mx-auto d-flex flex-column align-items-center">
		<h1 class="my-5">Twitter > X</h1>

		<section class="w-75 mx-auto d-flex flex-column align-items-center">

			<h2>Retweeter</h2>

			<form action="{{ path('app_tweet_retweet', { id: tweet.id }) }}" method="POST" class=" m-2 w-75 mx-auto d-flex flex-column align-items-center">
				<div>
					<label for="retweet-content-{{ tweet.id }}" class="m-2">
						Retweeter ici :</label>
					<input type="text" id="retweet-content-{{ tweet.id }}" name="retweet_content" maxlength="255" class="m-2"/>
				</div>
				<button type="submit" class="btn border-white fw-bold comment-btn bouton m-5">Retweeter</button>
			</form>


			<div class="w-75 mx-auto d-flex flex-column align-items-center m-2">
				<h3>Tweet original</h3>
				<div class="border border-1 border-secondary p-2 m-5 rounded-1">
					<span>
						<span class="pe-2">
							{% if app.user.profilePicture %}
								<img src="{{ asset('uploads/profile_pictures/' ~ app.user.profilePicture) }}" alt="Photo de profil" class="rounded-circle" width="40" height="40">
							{% else %}
								<i class="fas fa-user-circle" style="font-size: 30px;"></i>
							{% endif %}
						</span>
						{{ tweet.user.username }}
						-
						{{ tweet.createdAt|date('d/m/Y H:i:s') }}
					</span>
					<p class="p-2 t-1 mb-2 text-break">{{ tweet.content }}</p>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
