{% extends 'base.html.twig' %}

{% block body %}

	<div class="profile-container">
		<h2>Profil de
			{{ user.username }}</h2>

		<div class="user-info">
			<h3>Informations personnelles</h3>
			<p>
				<strong>Nom :</strong>
				{{ user.username }}</p>
			<p>
				<strong>Email :</strong>
				{{ user.email }}</p>
			{# Ajouter d'autres informations personnelles si nécessaire #}
		</div>


		<section class="d-flex flex-column justify-content-center align-items-center">

		    <div class="m-5 d-flex flex-column justify-content-center align-items-center">
                <h3 class="mb-5">⇩ Clique ici pour partager ton prochain tweet ! ⇩</h3>
				<a href="{{ path('app_tweet_new') }}" class="btn btn-secondary">Publier un tweet</a>
			</div>



			<div class="mt-5">
				<h3>Mes dernières publications</h3>
			</div>

			<div>
                <hr>
				{% if tweets is empty %}
					<p>Vous n'avez pas encore publié de tweet.</p>

				{% else %}
					<ul class="list-group list-group-flush">
						{% for tweet in tweets %}
							<li class="list-group-item text-white m-3">
								<p>
									<small>Publié le
										{{ tweet.createdAt|date('d/m/Y H:i') }}</small>
								</p>
								<p>{{ tweet.content }}</p>

								<div class="d-flex justify-content-end align-items-center">
									<a href="{{ path('app_tweet_edit', {'id': tweet.id}) }}" class="fs-7 btn btn-secondary m-3">Modifier mon tweet</a>

									<form method="get" action="{{ path('app_tweet_confirm_delete', {'id': tweet.id}) }}" style="display:inline;">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tweet.id) }}">
										<button type="submit" class="btn btn-secondary">Supprimer mon tweet</button>
									</form>
								</div>

							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</section>


{% endblock %}
